In [29]:
import pandas as pd
import numpy as np
happiness = pd.read_csv('d:/dataset/2015.csv' ,skiprows=1) # header=1 can be used as the 2nd arg as skiprows skips the first row
happiness.head()

,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
0,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
1,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
2,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
3,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
4,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955

# converting a file to csv

In [4]:
happiness.to_csv('d:/dataset/wrte_to_csv/to_2015.csv')

In [7]:
weather ={
    ('1/12/2017' ,32,6 ,'Rain'),
    ('2/12/2017' ,35 ,7 ,'Sunny'),
     ('3/12/2017' ,22 ,5,'Snow'),
      ('4/12/2017' ,33,6,'Windy'),
      ('5/12/2017' ,23,4,'Normal'),
}
df = pd.DataFrame(weather ,columns=['day' ,'tempreture' ,'windspeed','weather forcast'])
df

         day  tempreture  windspeed weather forcast
0  3/12/2017          22          5            Snow
1  4/12/2017          33          6           Windy
2  1/12/2017          32          6            Rain
3  2/12/2017          35          7           Sunny
4  5/12/2017          23          4          Normal

In [10]:
df.to_csv('d:/dataset/write_to_csv/weather.csv')

# index=False as an argument will take away numbering

In [12]:
df.to_csv('d:/dataset/write_to_csv/weather1.csv' ,index=False)

In [14]:
df.to_csv('d:/dataset/write_to_csv/weather2.csv',columns=['day','tempreture'])

In [16]:
xl= pd.DataFrame(weather ,columns=['day' ,'tempreture' ,'windspeed','weather forcast'])

In [ ]:
def convert_cell(cell):
    if cell == 'n.a':
        return 'same here'
    
    return cell

df.to_csv('d:/dataset/write_to_csv/weather1.csv' , 'sheet1' ,converter={'peple' :convert_cell})

In [ ]:
def convert_cell(cell):
    if cell == 'n.a':
        return 'same here'
    
    return cell

def convert_people(cell):
    if cell == 'NAN':
        return None
    return cell
        

df.to_csv('d:/dataset/write_to_csv/weather1.csv' , 'sheet1' ,converter={'people' :convert_cell ,"epp" :convert_people}) 

df

In [ ]:
df.to_excel('d:/dataset/write_to_csv/weather3.xlsx' ,sheet_name='sheet1')

In [ ]:
df.to_excel('d:/dataset/write_to_csv/weather3.xlsx' ,startrow=1, startcol = 3 ,index=False)

In [23]:
with pd.ExcelWriter('d:/dataset/write_to_csv/weather3.xlsx'):
    df_stocks.to_excel(writer ,sheet_name='sheet1')
    df_weather.toexcel(writer ,sheet_name='weather')

ModuleNotFoundError: No module named 'openpyxl'

In [ ]:
df = pd.DataFrame(weather ,columns=['day' ,'tempreture' ,'windspeed','weather forcast'])
df.set_index('day',inplace=True)

In [24]:
new_df =df.fillna(0)

In [25]:
new_df

         day  tempreture  windspeed weather forcast
0  3/12/2017          22          5            Snow
1  4/12/2017          33          6           Windy
2  1/12/2017          32          6            Rain
3  2/12/2017          35          7           Sunny
4  5/12/2017          23          4          Normal

# replacing or filling input with assigned values

In [ ]:
new_lif =df.fillna({
    'tempreture':3,
    'day' :'20/12/2017',
    'weather forcast': normal
})

# forwarding value to the next column if it's empty

In [ ]:
new_lif =df.fillna(method="ffill")

In [ ]:
new_lif =df.fillna(method="bfill") #backward copy

In [26]:
new_lif =df.interpolate()

In [27]:
new_lif

         day  tempreture  windspeed weather forcast
0  3/12/2017          22          5            Snow
1  4/12/2017          33          6           Windy
2  1/12/2017          32          6            Rain
3  2/12/2017          35          7           Sunny
4  5/12/2017          23          4          Normal

In [31]:
dff =df.replace(.0996,np.NaN)
dff

         day  tempreture  windspeed weather forcast
0  3/12/2017          22          5            Snow
1  4/12/2017          33          6           Windy
2  1/12/2017          32          6            Rain
3  2/12/2017          35          7           Sunny
4  5/12/2017          23          4          Normal

In [ ]:
dff =df.replace({
    'tempreture':8766,
    'day':'3/4/2010',
    'windspeed':6
},np.NaN)

# replacing values with different values

In [ ]:
dff =df.replace({
    'temp':085,
     'pmt':np.NaN,
      'sna': sunny
})

# replacing none numbers with empty space

In [ ]:
dff =df.replace(['A-Za-z'],'' ,regxx= True)

In [ ]:
#better way to do it
dff =df.replace({
    'temp':['A-Za-z'],
     'pmt':['A-Za-a'],
      
},'', regex=True)

# replacing none numbers with empty space

In [34]:
grade ={
    (100 ,1 ,'excellent'),
    (75 ,2 ,'very good'),
     (65 ,3,'good'),
      (49 ,4, 'poor'),
      (34 ,5,'fail'),
}
df = pd.DataFrame(grade ,columns=['Mark' ,'Grade' ,'Meaning'])
df

   Mark  Grade    Meaning
0    65      3       good
1    49      4       poor
2    34      5       fail
3   100      1  excellent
4    75      2  very good

In [37]:
dff =df.replace([1,2,3,4 ,5] ,['first class' ,'second class','third class' ,'pass' ,'fail'])
dff

   Mark         Grade    Meaning
0    65   third class       good
1    49          pass       poor
2    34          fail       fail
3   100   first class  excellent
4    75  second class  very good

# grouping

In [39]:
happiness = pd.read_csv('d:/dataset/2015.csv')
happiness.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [41]:
g =happiness.groupby('Country')

In [42]:
g